* {
    margin: 0;
    box-sizing: border-box;
}

.encabezado { 
    background-color: orangered;
}

.navbar {
    padding-top: 1px !important;   /* Forzar el padding superior */
    padding-bottom: 1px !important; /* Forzar el padding inferior */
}

/* Cambiar color a naranja cuando se pasa el cursor por encima */
.navbar-nav .nav-link:hover {
    color: orangered !important;  /* Cambiar el color del texto a naranja */
}

.container-enca {
    display: flex;
}

.titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1;
}

.descripcionTit {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    line-height: 1;
}

.descripcionTit-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    line-height: 1;
}

/* Ajustar el alto mínimo de las cards para que todas tengan el mismo tamaño */
.card {
    min-height: 300px; /* Puedes ajustar esta altura según tu diseño */
}

/* Asegurar que las cards ocupen todo el alto disponible */
.card-body {
    flex-grow: 1;
    align-items: center;
    padding: 0;
    margin: 0;
}

.card-text-partido {
    font-size: 12px;
    align-items: center;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.card-text-liga {
    font-size: 10px;
    align-items: start;
    padding: 0;
    margin: 0;
}

.principal {
    font-family: Arial, sans-serif;
    background-color: #bdbcbc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.encabezado {
    height: 15vh;
    margin: 0;  
    background-color: orangered;
    color: rgb(231, 249, 249);
}

.contenedor {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#matches-list {
    max-height: 250px;  /* Limita la altura del contenedor */
    overflow-y: auto;   /* Barra de desplazamiento si hay muchos partidos */
    border: 1px solid #ccc;  /* Borde opcional */
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centrar horizontalmente */
    justify-content: flex-start;  /* Alineación vertical en la parte superior */
    list-style-type: none;  /* Eliminar los puntos de estilo de los elementos li */
    padding: 0;             /* Eliminar el padding por defecto del ul */
}

#matches-list li {
    margin-bottom: 2px;  /* Ajusta el espacio entre los partidos */
}

#matches-list-antes {
    max-height: 250px;  /* Ajusta este valor según tus necesidades */
    overflow-y: auto;   /* Barra de scroll vertical si el contenido excede los 400px */
    border: 1px solid #ccc;  /* Borde opcional para diferenciar el área de partidos */
    padding: 10px;      /* Espacio interno para separar el contenido del borde */
}