/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para el encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007bff; /* Color azul relacionado con AFA */
    padding: 20px;
    color: white;
}

/* Contenedor del logo */
.logo-container {
    flex: 0 0 100px;
}

.logo {
    width: 100px;
    height: auto;
}

/* Estilos del texto del encabezado */
.header-text {
    text-align: right;
    flex: 1;
}

/* Estilos para el título principal */
header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Estilos para el subtítulo principal */
header h2 {
    font-size: 1.5em;
    margin: 5px 0;
}

/* Estilos para el subtítulo más pequeño */
header h3 {
    font-size: 1em;
    margin: 5px 0;
    font-style: italic;
    opacity: 0.8;
}
